<div class="midBar">
	<center>
	<div class="inner">
		<div class="midBarMessage">
			<a href="/amazon-payments/"><img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/uploaded_images/amazon-payments-logo.jpg"/></a>
			<a href="/pay-by-paypal/"><img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/section_logos/pay-by-paypal.jpg"/></a>
<!---			<img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/elements/need-for-holidays.jpg" onclick="$('#holiday-shipping').css('display','block');" style="cursor: pointer;"> --->
			<a href="/fidget-gadget/"><img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/uploaded_images/spinners1.jpg?t=1490979509&_ga=1.248473230.826679024.1467904890"/></a>
			<a href="/Funko/"><img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/section_logos/Funko.jpg"/></a>
			<a href="/YuGiOh/"><img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/section_logos/YuGiOh.jpg"/></a>
		</div>
		{{> components/common/left-nav}}
	</div>
	</center>
</div>
