<nav class="navUser">
    {{> components/common/currency-selector}}

    <ul class="navUser-section navUser-section--alt">
		<li class="navUser-item navUser--bar navUser--newsletter">
			<a class="navUser-action" onclick="javascript:viewNewsletter();">Want Product Updates & Special Deals?</a>
			<div id="topNewsletterDrop">
				<div class="topNewsletterContent">
					<div class="newsLarge" style="color: #ffffff;">Join Our Newsletter</div>
					<div class="newsText" style="color: #ffffff;">Get an Instant Coupon <span style="color: #f66a03;">TODAY</span> by email and you will<br/>also receive news, deals, and exclusive offers.</div>
					<form id="newsSignupTop" name="emailform" action="https://toywiz.us5.list-manage.com/subscribe/post?u=2a5ae42f5a596d5fb587acdb8&amp;id=9190d97493" method="post" target="_blank" novalidate>
						<input id="topnewsEmail" type="text" name="EMAIL" class="newsMain" placeholder="Enter E-Mail" onclick="this.select();"/>
						<input type="hidden" name="MMERGE3" value="">
						<div class="newsJoin" onclick="document.forms['newsSignupTop'].submit();">Join</div>
					</form>
					<div class="newsPolicy"><a href="toysecandpri.html">Read Our Privacy Policy</a></div>
				</div>
			</div>
		</li>
		<li class="navUser-item navUser--bar navUser--hours">
			<a class="navUser-action" onclick="javascript:viewPhone();">Call Us Toll Free 877.451.2597&nbsp;<span style="font-size: 12px;">&#x25BC;</span></a>
			<div id="topHoursDrop">
				<div class="topHoursContent" style="height: 220px;">
					<span style="font-size: 13px;">Our customer service staff is available to take your phone calls during the following hours:</span><br><br>
					<span style="line-height: 1.3em;">Monday - Wednesday: 10am - 8pm EST<br>
					<span style="line-height: 1.3em;">Thursday - Friday: 10am - 6pm EST<br>
					Saturday - Sunday: </span>Closed<br><br>
					<span style="font-size: 13px;">International customers please call 845-624-1995<br/><br/>
					You can also reach us via e-mail at customerservice@toywiz.com</span>
				</div>
			</div>
		</li>
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item navUser--bar">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="/compare" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        <li class="navUser-item">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">{{lang 'common.search'}}</a>
        </li>
            {{#if customer}}
			<li class="navUser-item navUser-item--account navUser--bar">
				<a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
			</li>
			<li class="navUser-item navUser-item--account">
				<a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
			</li>
            {{else}}
			<li class="navUser-item navUser-item--account navUser--bar">
				<a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
			</li>
			<li class="navUser-item navUser-item--account">
				<a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
	        </li>
            {{/if}}

        <li class="navUser-item navUser-item--cart mobileHide">
			<img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/elements/cart.png"/>
            <a
                class="navUser-action navUser-action--cart"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>
			<div class="mobileMenuCart">CART</div>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
        <a href="/cart.php"><li class="navUser-item navUser-item--cart mobileOnly" style="height: 54px; overflow: hidden;">
			<img src="https://cdn6.bigcommerce.com/s-0kvv9/product_images/elements/cart.png"/>
			<div class="mobileMenuCart">CART</div>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li></a>
    </ul>
</nav>
