<div class="productsPagination">
	<div class="productsPaginationInner">
	{{#if previous}}
		<a href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}><li>&laquo;</li></a>
	{{/if}}
	{{#each links}}
		{{#if @first}}<script>window.paginationURL = '{{this.url}}';</script>{{/if}}
		{{#if @last}}<script>window.paginationTotal = '{{this.number}}';</script>{{/if}}
		<a href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}><li{{#if this.number '==' ../current}} class="selected"{{/if}}>{{this.number}}</li></a>
	{{/each}}
	{{#if next}}
		<a href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}><li>&raquo;</li></a>
	{{/if}}
	</div>
</div>
