{{#if product_results.products.length}}
    {{> components/products/filter sort=pagination.product_results.sort}}
{{/if}}
{{> components/common/paginator pagination.product_results}}
{{#if theme_settings.product_list_display_mode '===' 'grid'}}
	{{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings page=search}}
{{else}}
	{{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
{{/if}}
<div class="paginationBottom">
{{> components/common/paginator pagination.product_results}}
</div>
<script>
var theUrl 	= '{{forms.search.content_url}}';
var query	= theUrl.substring(theUrl.indexOf('?') + 1, 1000);
var fields	= query.split('&amp;');
for(i = 0; i < fields.length; i++){
	var info 	= fields[i].split('=');
	if(info[0] != 'sort' && info[0] != 'page'){
		$('#sortResultsBy').append('<input type="hidden" name="' + info[0] + '" value="' + (info[0] == 'section' ? 'product' : info[1].replace('%2B','+')) + '"/>');
	}
}
</script>
